html, body {
    background: #1a1a1a;
    color: #ffffff;
    font: 12px "Lucida Grande";
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}


h2 {
    font-size: 14px;
    color: #ccff66;
}

.task.complete {
    color: #7e7e7e;    
}

.task .tag {
    color: #7e7e7e;
}


/* Hide all projects and tasks initially. Overridden by page-specific styles */
.project, li {
    display:none;
}


/* Today Page */

#today .project.today {
    display: block;
}

#today li.today {
    display: list-item;
}